@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



/* Movile First */

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--Light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.card {
    height: 500px;
    width: 320px;
    background-color: var(--White);
    border-radius: 15px;
    padding: 16px;
}


.card__first-section__imagen {
    height: 288px;
    width: 288px;
    background-image: url(/images/image-qr-code.png);
    background-size: cover;
    border-radius: 12px;
}

.card__second-section {
    margin: 14px;
    text-align: center;
}

.card__second-section__title {
    color: var(--Dark-blue);
    font-size: 1.4em;
    line-height: 30px;
    padding-top: 10px;
}

.card__second-section__description {
    font-size: 15px;
    padding-top: 20px;
}

.attribution {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}